<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filters</key>
	<array>
		<dict>
			<key>FilterName</key>
			<string>GPUImageSepiaFilter</string>
		</dict>
		<dict>
			<key>FilterName</key>
			<string>GPUImageGaussianSelectiveBlurFilter</string>
			<key>Attributes</key>
			<dict>
				<key>setExcludeCirclePoint:</key>
				<string>CGPoint(0.5, 0.5)</string>
				<key>setExcludeCircleRadius:</key>
				<string>float(0.2)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
